body {
	font-size: 13px;
	font-family: Helvetica,Arial,Sans-serif;
}
.menu {
  overflow: hidden;
  margin: 0;
  border-top: 0;
  z-index: 0;
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ccc;
  overflow: hidden;
  overflow-y: auto;
  /* dans les css de currys */
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
.menu ul {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0;
  background: #eee;
  list-style: none;
  list-style-image: none;
}
.menu ul ul {
  position: absolute;
  z-index: 2;
  display: block;
  top: 0;
  width: 100%;
  right: -100%;
}
.menu ul ul a {
  font-weight: 200;
  font-size: 1em;
  color: #666;
}
.menu li a {
  display: block;
  font-weight: 400;
  font-size: 1.3em;
  color: #333;
  height:40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  border-top: 2px solid #eee;
}
.menu .nav a {
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu .toolbar {
  position: relative;
  min-height: 40px;
  width: 100%;
  overflow: hidden;
}
.menu .toolbar .btn {
  font-size: 1em;
  padding: 7px;
  height: 20px;
  line-height: 1.5em;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0,0,0,0.1);
}
.menu .toolbar .btn_list {
  left: auto;
  right: 5px;
}
.menu .toolbar a {
  text-decoration: none;
  color:#000;
}
.icon-chevron-left:before {
  content: '<';
}
.icon-list:before {
  content: '=';
}
.cssAjaxLoad:before {
  content: '*';
}
.menu .toolbar .header {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 90px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}

.menu .toolbar .breadcrumb {
  background: #ababab;
  display: block;
  border-bottom: 0;
  padding: 0 10px;
  margin: 0;
  color: #444;
}
.menu .toolbar .breadcrumb a {
  position: relative;
  display: inline-block;
  padding-right: .75em;
  margin-right: .33em;
  color: #000;
}
.menu .toolbar .breadcrumb a:before {
  position: absolute;
  right: 0;
  content: '/';
  color: #444;
}
.menu .toolbar .breadcrumb a:active {
  text-decoration: none;
}
.menu .nav {
  overflow: hidden;
  display: block;
}
.nav a:before {
  font-weight: 400;
  line-height: 40px;
  content: ">";
  margin: 0;
  color: #999;
  float: right;
}
.menu a:hover {
  border-color: #444;
}
.menu a.nav_loading,.menu a.nav_loading:active,.menu a.nav_loading:focus,.menu a.nav_loading:hover {
  background: #1e249e;
  color: #eee;
  text-shadow: none;
}
.menu a.nav_loading:before,.menu a.nav_loading:active:before,.menu a.nav_loading:focus:before,.menu a.nav_loading:hover:before {
  width: 16px;
  height: 16px;
  /* ici mettre gif animé */
  content: '*';
  margin-right: -4px;
  background-repeat: no-repeat;
  background-position: center center;
}
.toolbar {
  overflow: visible;
  position: relative;
  left: 0;
  color:#000;
}
.content_menu1 {
  width: 320px;
  height : auto;
}
.content_menu2 {
  width: 520px;
  height : auto;
}